@model List<WebApplication1.Models.ViewModels.CartViewModel>

<h2 class="fw-bold mb-4">🛒 Sepetim</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger shadow rounded-3 p-3 mb-4"
         style="background:#7f1d1d;border:none;color:white;">
        @TempData["Error"]
    </div>
}

@if (!Model.Any())
{
    <div class="alert alert-warning">
        Sepetiniz boş.
    </div>
}
else
{
    <table class="table table-dark table-bordered align-middle">
        <thead>
            <tr>
                <th>Ürün</th>
                <th>Fiyat</th>
                <th>Adet</th>
                <th>Toplam</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Price ₺</td>
                    <td>
                        <a href="/Cart/Decrease/@item.Id" class="btn btn-warning btn-sm">-</a>
                        <span class="mx-2">@item.Quantity</span>
                        <a href="/Cart/Increase/@item.Id" class="btn btn-success btn-sm">+</a>
                    </td>
                    <td>@(item.Price* item.Quantity) ₺</td>
                    <td>
                        <a href="/Cart/Remove/@item.Id" class="btn btn-danger btn-sm">
                            Sil
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-end mt-4">
        <a href="/Order/Checkout"
           class="btn btn-success btn-lg">
            ✔ Sepeti Onayla
        </a>
    </div>
}